.bas-page{
    /*position: absolute;
    top: 1444px;*/
    width: 100%;
    height: 197px;
    background-color: $footer-background-color;
    color: white;
    .bas-page__block{
        width: 186px;
        margin-left: 25px;
        height: 132px;
        margin-top: 27px;
        .bas-page__block__titre{
            font-size: 15px;
            font-family: "shrikhand";
            margin-top: 0px;
            padding: 0px;
        }
        .bas-page__block__liste{
            font-size: 12px ;
            margin: 0px;
            padding: 0px; 
            li{
                margin-bottom: 15px;
                list-style-type: none;
            }
        }
    }

}