/*-----------------Footer accueil------------------*/
.bas-page{
    width: 100%;
    background-color: $footer-background-color;
    color: white;
    padding-top: 27px;
    padding-bottom: 30px;
    .bas-page__block{
        width: 60%;
        padding-left: 25px;
        .bas-page__block__titre{
            font-size: 15px;
            font-family: "shrikhand";
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 27px;
        }
        .bas-page__block__liste{
            font-size: 12px ;
            margin: 0px;
            padding: 0px; 
            @media screen and (min-width: 479px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            li{
                margin-bottom: 15px;
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;
                    display: inline-block;
                    width: 100%;
                }
                @media screen and (min-width: 479px) {
                    display: inline-block;
                    width: 44.79%;
                }
            }
            .fas.fa-hands-helping{
                font-size: 12px;
                margin-right: 8px;
            }
            .ustensils{
                .fas.fa-utensils{
                    font-size: 12px;
                    margin-right: 12px;
                } 
            }   
            
        }
    }

}

