header {
    width: 100%;
    @include flex-row-wrap;
    height: 400px;
    justify-content: space-around;
    .header__titre{
        width: $width_100 ;
        height: 63px;
        @include flex-row-wrap;
        @include justify-content-spa;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        border-bottom-style: outset;
        box-shadow: 0px 5px 5px rgba($color: #000000, $alpha: 0.5);
        h1{
            margin:23px 0px 0px 0px;
            font-family: "shrikhand";
            font-size: 22px;
        }
    }
    .header__localisation{
        background-color: $header-localisation-color ;
        width: $width_100 ;
        height: 50px;
        @include margin-top-bottom_0 ;
        @include flex-row-wrap;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        .fas{
            margin-right: 18px;
        }
    }
    .header__nos_resto{
        background-color: $tertiaire-color;
        height: 287px;
        width: 100%;
        @include flex-row-wrap;
        @include justify-content-spa;
        align-content: flex-start;
        h2{
            text-align: center;
            margin-top: 44px;
            margin-bottom: 0px;
            width: 61%;
            height: 47px;
            font-size: 18px;
            font-weight: bold;
        }
        p{
            font-size: 13px;
            text-align: center;
            width: 81%;
            height: 32px;
            margin-top: 20px;
            margin-bottom: 0px;
            @include justify-content-spa;
        }
        .button_explorer{
            height: 50px;
            width: 58%;
            margin-top: 31px;
            border-radius: 25px;
            button{
                box-shadow: $shadow-button;
                font-size: 12px;
                font-weight: bold;
                border-radius: 25px;
                color: white;
                background: linear-gradient(to bottom right,lighten($secondary-color,3%),lighten($primary-color,3%));
                width: 100%;
                height: 100%;
                border:0px
            }
        }
    }
}