.menu-navigation{
    display: flex;
    @include justify-content-spa;
    height: 441px;
    .menu-navigation__contenair{
        width: 85%;
        @include flex-column-wrap;
        @include justify-content-spa;
        align-content: flex-start;
        margin-top: 53px;
        h3{
            height: 17px;
            @include margin-top-bottom_0 ;
            width: 46%;
        }
        .menu-navigation__contenair__button{
            height: 72px;
            width: 100%;
            margin-top: 26px;
            button{
                border: 0px;
                box-shadow: $shadow-button;
                font-size: 12px;
                font-weight: bold;
                border-radius: 20px;
                background-color: $tertiaire-color;
                height: 100%;
                width: 100%;
                position: relative;
                .fas{
                    color: #7e7e7e;
                    margin-right: 28px;
                    position: absolute;
                    left: 35px;
                    font-size: 20px;
                }
            }
        }
    }  
}