.bloc-section{
    width: 100%;
    height: 1226px;
    display: flex;
    @include justify-content-spa;
    background-color: $tertiaire-color;
    .bloc-section__inter{
        width: 89%;
        .bloc-section__inter__resto{
            width: 100%;
            height: 250px;
            margin-bottom: 18px;
            border-radius: 20px;
            box-shadow: $shadow-resto;
            a{
                width: 100%;
                height: 100%;
                border-radius: 20px;
                display: inline-block;
                position: relative;
                text-decoration: none;  
                position: relative;
                .presentation_resto_nouveau{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    position: absolute;
                    top: 12px;
                    right: 10px;
                    z-index: 5;
                    background-color: #99e2d0;
                    width: 80px;
                    height: 28px;
                    p{
                        color: #008766;
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
                img{
                    z-index: 1;
                    height: 173px;
                    width: 100%;
                    border-radius: 20px 20px 0px 0px;
                    position: absolute;
                    top: 0px;
                }
                .Presentation_resto{
                    width: 100%;
                    height: 77px;
                    border-radius: 0px 0px 20px 20px;
                    background-color: white;
                    position: absolute;
                    bottom: 0px;
                    color: black;
                    h4{
                        margin-top: 20px;
                        margin-left: 14px;
                        margin-bottom: 0px;
                    }
                    p{
                        margin-top: 11px;
                        margin-left: 14px;
                        margin-bottom: 0px;  
                    }
                    .icon-coeur{
                        font-size: 20px;
                        position: absolute;
                        right: 24px;
                        bottom: 33px;
                    }

                }
            }
        }
    }
}