.bloc-section{
    width: 100%;
    display: flex;
    @include justify-content-spa;
    background-color: $tertiaire-color;
    .bloc-section__inter{
        width: 89%;
        .bloc-section__inter__resto{
            position: relative;
            width: 100%;
            height: 250px;
            margin-bottom: 18px;
            border-radius: 20px;
            box-shadow: $shadow-resto;
            &:nth-child(5) {
                margin-bottom: 64px;
            }
            .icon-coeur{
                position: absolute;
                right: 24px;
                bottom: 33px;
                font-size: 20px;
                .far{
                    opacity: 1;
                    z-index: 1;
                    transition: opacity 1000ms ease-in-out;
                }
                .fas{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    color: red;
                    opacity: 0;
                    transition: opacity 2000ms ease-in-out;
                    z-index: 5;
                    &:hover{
                        opacity: 1;
                        z-index: 2;
                    }
                    &:hover + .far{
                        opacity: 0;
                    }                }
            }
            a{
                width: 100%;
                height: 100%;
                border-radius: 20px;
                display: inline-block;
                position: relative;
                text-decoration: none;  
                position: relative;
                .presentation_resto_nouveau{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    position: absolute;
                    top: 12px;
                    right: 10px;
                    z-index: 5;
                    background-color: #99e2d0;
                    width: 80px;
                    height: 28px;
                    p{
                        color: #008766;
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
                img{
                    z-index: 1;
                    height: 173px;
                    width: 100%;
                    border-radius: 20px 20px 0px 0px;
                    position: absolute;
                    top: 0px;
                }
                .Presentation_resto{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 77px;
                    border-radius: 0px 0px 20px 20px;
                    background-color: white;
                    position: absolute;
                    bottom: 0px;
                    color: black;
                    h4{
                        margin-top: 20px;
                        margin-left: 14px;
                        margin-bottom: 0px;
                    }
                    p{
                        margin-top: 11px;
                        margin-left: 14px;
                        margin-bottom: 0px;  
                    }
                }
            }
        }
    }
}
/*-----------------------------Section-menu--------------------------------*/

.bloc-section-menu{
    padding-left: 3.73%;
    padding-right: 3.2%;
    width: 93.06%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: $tertiaire-color;
    position: relative;
    bottom: 37px;
    border-radius: 50px 50px 0px 0px;
    .bloc-section-menu__titre__h2{
        width: 100%;
        height: 25px;
        display: flex;
        align-items: center;
        margin-top: 39px;
        h2{
            width: 69%;
            margin: 0px 0px 0px 0px;
            font-family: "shrikhand";
            font-size: 25px;
        }
        .bloc-section-menu__titre__coeur{
            width: 22px;
            height: 21px;
            margin-left: 33px;
            .far{
                font-size: 21px;
            }
        }
    }
    .bloc-section-menu__carte{
        width: 100%;
        h3{
            margin: 50px 0px 15px 0px;
            font-size: 12px;
            font-weight: normal;
        }
        .bloc-section-menu__carte__choix{
            width: 100%;
            padding: 16px 0px 13px 0px;
            background-color: $menu-choix-background-color;
            box-shadow: $shadow-resto;
            border-radius: 10px;
            margin-bottom: 16px;
            h4{
                width: 218px;
                font-size: 13px;
                font-weight: bold;
                margin: 0px 0px 10px 0px;
                margin-left: 12px;
            }
            .bloc-section-menu__carte__choix__prix{
                width: 90%;
                height: 12px;
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                align-items: center;
                margin-left: 12px;
                p{
                    margin: 0px;
                }
                .bloc-section-menu__carte__choix__prix__prix{
                    font-weight: bold;
                }
            }
        }
    }
    .button-menu{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        margin-top: 46px;
        margin-bottom: 38px;
        .button_explorer{
            height: 50px;
            width: 58%;
            border-radius: 25px; 
            button{
                @include button;
                transform: scale(1);
                transition: transform 400ms;
                &:hover{
                    transform: scale(1.15);
                    background: linear-gradient(to bottom right,lighten($secondary-color,6%),lighten($primary-color,6%));
                    $shadow-button:10px 10px 10px rgba(28,26,25,1);
                }
           }
        }
    }
    
}