/*----------------------------------Section accueil---------------------*/
.bloc-section{
    width: 100%;
    display: flex;
    @include justify-content-spa;
    background-color: $tertiaire-color;
    .bloc-section__inter{
        width: 89%;
        @media screen and (min-width: 479px) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            @media screen and (min-width: 479px)  {
                width: 95%;
            }
            @media screen and (min-width: 1280px)  {
                width: 85%;
            }
        }
        .bloc-section__inter__titre{
            width: 100%;
            @media screen and (min-width: 479px) {
                width: 95%;
            }
        }
        .bloc-section__inter__resto{
            position: relative;
            width: 100%;
            height: 250px;
            margin-bottom: 18px;
            border-radius: 20px;
            box-shadow: $shadow-resto;
            @media screen and (min-width: 479px) {
                width: 45.83%;
                margin-bottom: 40px;
            }
            @media screen and (min-width: 1280px) {
                height: 320px;
            }
            &:nth-child(5) {
                margin-bottom: 64px;
                @media screen and (min-width: 479px) {
                    margin-bottom: 0px;
                }
            }
            .icon-coeur{
                position: absolute;
                right: 24px;
                bottom: 33px;
                font-size: 20px;
                z-index: 20;
                .far{
                    opacity: 1;
                    z-index: 4;
                    transition: opacity 1000ms ease-in-out;
                }
                .fas{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: linear-gradient(to bottom right,lighten($secondary-color,6%),lighten($primary-color,6%));
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    opacity: 0;
                    transition: opacity 2000ms ease-in-out;
                    z-index: 5;
                    &:hover{
                        opacity: 1;
                        z-index: 2;
                    }
                    &:hover + .far{
                        opacity: 0;
                    }                }
            }
            a{
                width: 100%;
                height: 100%;
                border-radius: 20px;
                display: inline-block;
                position: relative;
                text-decoration: none;  
                .presentation_resto_nouveau{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    position: absolute;
                    top: 12px;
                    right: 10px;
                    background-color: #99e2d0;
                    width: 80px;
                    height: 28px;
                    p{
                        color: #008766;
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
                img{
                    height: 193px;
                    width: 100%;
                    border-radius: 20px 20px 0px 0px;
                    position: absolute;
                    top: 0px;
                    @media screen and (min-width: 479px) and (max-width: 1279px) {
                        height: 193px;
                    }
                    @media screen and (min-width: 1280px){
                        height: 243px;
                    }
                }
                .Presentation_resto{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 77px;
                    border-radius: 0px 0px 20px 20px;
                    background-color: white;
                    position: absolute;
                    bottom: 0px;
                    color: black;
                    z-index: 3;
                    h4{
                        margin-top: 20px;
                        margin-left: 14px;
                        margin-bottom: 0px;
                    }
                    p{
                        margin-top: 11px;
                        margin-left: 14px;
                        margin-bottom: 0px;  
                    }
                }
            }
        }
    }
}
/*-----------------------------Section-menu--------------------------------*/

.bloc-section-menu{
    padding-left: 3.73%;
    padding-right: 3.2%;
    width: 93.06%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: $tertiaire-color;
    position: relative;
    bottom: 37px;
    border-radius: 50px 50px 0px 0px;
    .bloc-section-menu__titre__h2{
        width: 100%;
        height: 25px;
        display: flex;
        align-items: center;
        margin-top: 39px;
        h2{
            width: 69%;
            margin: 0px 0px 0px 0px;
            font-family: "shrikhand";
            font-size: 25px;
        }
        .bloc-section-menu__titre__coeur{
            width: 22px;
            height: 21px;
            margin-left: 33px;
            .far{
                font-size: 21px;
            }
        }
    }
    .bloc-section-menu__carte{
        width: 100%;
        h3{
            margin: 50px 0px 15px 0px;
            font-size: 12px;
            font-weight: normal;
            position: relative;
            &::after{
                content: "";
                width: 30px;
                height: 3px;
                background-color: #99e2d0;
                position: absolute;
                bottom: -9px;
                left: 0px;
            }
        }
        .entree{
            @media screen and (min-width: 769px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .bloc-section-menu__carte__choix{
                width: 100%;
                padding: 16px 0px 13px 0px;
                transform: translateY(-10px);
                opacity: 0;
                background-color: $menu-choix-background-color;
                box-shadow: $shadow-resto;
                border-radius: 10px;
                margin-bottom: 16px;
                animation: fadein 2s 100ms forwards;
                position: relative;
                @media screen and (min-width: 769px) {
                    width: 60%;
                }
                @keyframes fadein {
                    from {
                        opacity: 0;
                        transform: translateY(-10px);
                    }
                    to{
                        opacity: 1;
                        transform: translateY(0);
                    } 
                }
                    .bloc-section-menu__carte__choix__prix{
                        width: 90%;
                        display: flex;
                        font-size: 14px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 12px;
                        transform-origin: 0% 50%;
                        .bloc-section-menu__carte__choix__prix__prix{
                            height: 14px ;
                            font-weight: bold;
                            margin-top: 28px;
                            margin-bottom: 0px;
                            transform: translateX(0px);
                            transition: transform 800ms ;
                        }
                        .bloc-section-menu__carte__choix__prix__info_prix{
                            display: flex;
                            flex-wrap: wrap;
                            width: 83%;
                            h4{
                                width: 100%;
                                font-size: 13px;
                                font-weight: bold;
                                margin: 0px 0px 10px 0px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            p{
                                margin: 0px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }  
                        }
                        @keyframes largeur {
                            from {
                                width: 83%;
                            }
                            to {
                                width: 65%;
                            } 
                        }
                    }
                    &:hover .bloc-section-menu__carte__choix__prix__info_prix {
                        animation: largeur 800ms forwards ;
                    } 
                    &:hover .bloc-section-menu__carte__choix__prix__prix {
                        transform: translateX(-240%);
                    } 
                .bloc-section-menu__carte__choix_animtransl{
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    border-radius: 0px 10px 10px 0px;
                    height: 100%;
                    width: 0%;
                    background-color: #99e2d0 ;
                    z-index: 10;
                    display: flex;
                    justify-content: center;
                    align-items: center;  
                    .fas{
                        font-size: 20px;
                        transform: rotate(-180deg);
                        opacity: 0;
                        color: white;
                    }
                    @keyframes rot {
                        from {
                            transform:rotate(-180deg);
                        }
                        to{
                            transform:rotate(0deg);
                        } 
                    }
                }
                &:hover > .bloc-section-menu__carte__choix_animtransl{
                    animation: coullissant 800ms forwards ;
                } 
                &:hover > .bloc-section-menu__carte__choix_animtransl .fas{
                    animation: rot 800ms forwards;
                }    
                &:hover .fas{
                    opacity: 1;
                } 
                @keyframes fadein {
                    from {
                        opacity: 0;
                        transform: translateY(-10px);
                    }
                    to{
                        opacity: 1;
                        transform: translateY(0);
                    } 
                }
                
            }
        }
        .plats{
            @media screen and (min-width: 769px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .bloc-section-menu__carte__choix{
                width: 100%;
                padding: 16px 0px 13px 0px;
                transform: translateY(-10px);
                opacity: 0;
                background-color: $menu-choix-background-color;
                box-shadow: $shadow-resto;
                border-radius: 10px;
                margin-bottom: 16px;
                animation: fadein 2s 600ms forwards;
                position: relative;
                @media screen and (min-width: 769px) {
                    width: 60%;
                }
                @keyframes fadein {
                    from {
                        opacity: 0;
                        transform: translateY(-10px);
                    }
                    to{
                        opacity: 1;
                        transform: translateY(0);
                    } 
                }
                    .bloc-section-menu__carte__choix__prix{
                        width: 90%;
                        display: flex;
                        font-size: 14px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 12px;
                        transform-origin: 0% 50%;
                        .bloc-section-menu__carte__choix__prix__prix{
                            height: 14px ;
                            font-weight: bold;
                            margin-top: 28px;
                            margin-bottom: 0px;
                            
                        }
                        @keyframes deplacement_prix {
                            from {
                                transform: translateX(0px);
                            }
                            to {
                                transform: translateX(-240%);
                            }
                        }
                        .bloc-section-menu__carte__choix__prix__info_prix{
                            display: flex;
                            flex-wrap: wrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 85%;
                            h4{
                                width: 100%;
                                font-size: 13px;
                                font-weight: bold;
                                margin: 0px 0px 10px 0px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            p{
                                margin: 0px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }  
                        }
                        @keyframes largeur {
                            from {
                                width: 85%;
                            }
                            to {
                                width: 65%;
                            } 
                        }
                    }
                    &:hover .bloc-section-menu__carte__choix__prix__info_prix {
                        animation: largeur 800ms forwards ;
                    } 
                    &:hover .bloc-section-menu__carte__choix__prix__prix {
                        animation: deplacement_prix 800ms forwards ;
                    } 
                    .bloc-section-menu__carte__choix_animtransl{
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        border-radius: 0px 10px 10px 0px;
                        height: 100%;
                        width: 0%;
                        background-color: #99e2d0 ;
                        z-index: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;  
                        .fas{
                            font-size: 20px;
                            transform: rotate(-180deg);
                            opacity: 0;
                            color: white;
                        }
                        @keyframes rot {
                            from {
                                transform:rotate(-180deg);
                            }
                            to{
                                transform:rotate(0deg);
                            } 
                        }
                    }
                    &:hover > .bloc-section-menu__carte__choix_animtransl{
                        animation: coullissant 800ms forwards ;
                    } 
                    &:hover > .bloc-section-menu__carte__choix_animtransl .fas{
                        animation: rot 800ms forwards;
                    }    
                    &:hover .fas{
                        opacity: 1;
                    }  
                    @keyframes fadein {
                        from {
                            opacity: 0;
                            transform: translateY(-10px);
                        }
                        to{
                            opacity: 1;
                            transform: translateY(0);
                        } 
                    }
            }
        }
        .desserts{
            @media screen and (min-width: 769px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .bloc-section-menu__carte__choix{
                width: 100%;
                padding: 16px 0px 13px 0px;
                transform: translateY(-10px);
                opacity: 0;
                background-color: $menu-choix-background-color;
                box-shadow: $shadow-resto;
                border-radius: 10px;
                margin-bottom: 16px;
                animation: fadein 2s 1000ms forwards;
                position: relative;
                @media screen and (min-width: 769px) {
                    width: 60%;
                }
                @keyframes fadein {
                    from {
                        opacity: 0;
                        transform: translateY(-10px);
                    }
                    to{
                        opacity: 1;
                        transform: translateY(0);
                    } 
                }
                    .bloc-section-menu__carte__choix__prix{
                        width: 90%;
                        display: flex;
                        font-size: 14px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 12px;
                        transform-origin: 0% 50%;
                        .bloc-section-menu__carte__choix__prix__prix{
                            height: 14px ;
                            font-weight: bold;
                            margin-top: 28px;
                            margin-bottom: 0px;
                        }
                        @keyframes depl_prix {
                            from {
                                transform: translateX(0px);
                            }
                            to {
                                transform: translateX(-62.8px);
                            }
                        }
                        .bloc-section-menu__carte__choix__prix__info_prix{
                            display: flex;
                            flex-wrap: wrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width: 83%;
                            h4{
                                width: 100%;
                                font-size: 13px;
                                font-weight: bold;
                                margin: 0px 0px 10px 0px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            p{
                                margin: 0px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }  
                        }
                        @keyframes largeur {
                            from {
                                width: 83%;
                            }
                            to {
                                width: 65%;
                            } 
                        }
                    }
                    &:hover .bloc-section-menu__carte__choix__prix__info_prix {
                        animation: largeur 800ms forwards ;
                    } 
                    &:hover .bloc-section-menu__carte__choix__prix__prix {
                        animation: depl_prix 800ms forwards ;
                    } 
                    .bloc-section-menu__carte__choix_animtransl{
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        border-radius: 0px 10px 10px 0px;
                        height: 100%;
                        width: 0%;
                        background-color: #99e2d0 ;
                        z-index: 10;
                        display: flex;
                        justify-content: center;
                        align-items: center;  
                        .fas{
                            font-size: 20px;
                            transform: rotate(-180deg);
                            opacity: 0;
                            color: white;
                        }
                        @keyframes rot {
                            from {
                                transform:rotate(-180deg);
                            }
                            to{
                                transform:rotate(0deg);
                            } 
                        }
                    }
                    &:hover > .bloc-section-menu__carte__choix_animtransl{
                        animation: coullissant 800ms forwards ;
                    } 
                    &:hover > .bloc-section-menu__carte__choix_animtransl .fas{
                        animation: rot 800ms forwards;
                    }    
                    &:hover .fas{
                        opacity: 1;
                    } 
                @keyframes coullissant {
                    from {
                        width: 0%;

                    }
                    to{
                        width: 17.2%;   
                    } 
                }
            }
        }
    }
    .button-menu{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        margin-top: 46px;
        margin-bottom: 38px;
        .button_explorer{
            height: 50px;
            width: 58%;
            border-radius: 25px; 
            @media screen and (min-width: 479px) {
                width: 232px;
            }
            button{
                @include button;
                transform: scale(1);
                transition: transform 300ms;
                font-family:"roboto";
                &:hover{
                    transform: scale(1.15);
                    background: linear-gradient(to bottom right,lighten($secondary-color,6%),lighten($primary-color,6%));
                    box-shadow:10px 10px 10px rgba(28,26,25,1);
                }
           }
        }
    }
    
}