@font-face {
  font-family: "shrikhand";
  src: url("../../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
body {
  margin: 0px;
  position: relative;
  box-sizing: border-box;
  font-family: "roboto";
  background-color: #f6f6f6;
}

img {
  object-fit: cover;
}

.header-accueil {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header-accueil .header__titre {
  width: 100%;
  height: 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-style: outset;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
}
.header-accueil .header__titre h1 {
  margin: 23px 0px 0px 0px;
  font-family: "shrikhand";
  font-size: 22px;
}
.header-accueil .header__localisation {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.header-accueil .header__localisation .fas {
  margin-right: 18px;
}
.header-accueil .header__nos_resto {
  background-color: #f6f6f6;
  height: 287px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}
.header-accueil .header__nos_resto h2 {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 0px;
  width: 61%;
  height: 47px;
  font-size: 18px;
  font-weight: bold;
}
.header-accueil .header__nos_resto p {
  font-size: 13px;
  text-align: center;
  width: 81%;
  height: 32px;
  margin-top: 20px;
  margin-bottom: 0px;
  justify-content: space-around;
}
.header-accueil .header__nos_resto .button_explorer {
  height: 50px;
  width: 58%;
  margin-top: 31px;
  border-radius: 25px;
}
.header-accueil .header__nos_resto .button_explorer button {
  box-shadow: 5px 5px 5px rgba(28, 26, 25, 0.2);
  font-size: 12px;
  font-weight: bold;
  border-radius: 25px;
  color: white;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
  width: 100%;
  height: 100%;
  border: 0px;
  transition: transform 400ms;
  transform: scale(1);
}
.header-accueil .header__nos_resto .button_explorer button:hover {
  transform: scale(1.15);
  background: linear-gradient(to bottom right, #ff98e2, #a36fe1);
}

/*------------------------------------------Header-menu----------------------------*/
.header-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header-menu .header-menu__titre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 63px;
  width: 100%;
}
.header-menu .header-menu__titre .header-menu__fleche {
  position: absolute;
  left: 23px;
  height: 16px;
  width: 18px;
}
.header-menu .header-menu__titre .header-menu__fleche .fas {
  color: black;
}
.header-menu .header-menu__titre h1 {
  font-family: "shrikhand";
  font-size: 22px;
  margin: 0px;
}
.header-menu .header-menu__image {
  width: 100%;
  height: 258px;
}
.header-menu .header-menu__image img {
  width: 100%;
  height: 100%;
}

.menu-navigation {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.menu-navigation .menu-navigation__contenair {
  width: 85%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 53px;
}
.menu-navigation .menu-navigation__contenair h3 {
  height: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 46%;
}
.menu-navigation .menu-navigation__contenair .menu-navigation__contenair__button {
  height: 72px;
  width: 100%;
  margin-top: 26px;
}
.menu-navigation .menu-navigation__contenair .menu-navigation__contenair__button:nth-child(4) {
  margin-bottom: 68px;
}
.menu-navigation .menu-navigation__contenair .menu-navigation__contenair__button .button {
  display: flex;
  align-items: center;
  border: 0px;
  box-shadow: 5px 5px 5px rgba(28, 26, 25, 0.2);
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #f6f6f6;
  height: 100%;
  width: 100%;
  position: relative;
}
.menu-navigation .menu-navigation__contenair .menu-navigation__contenair__button .button .menu-navigation__contenair__button__cercle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: -12.5px;
}
.menu-navigation .menu-navigation__contenair .menu-navigation__contenair__button .button .menu-navigation__contenair__button__cercle p {
  margin: 0px;
  color: white;
}
.menu-navigation .menu-navigation__contenair .menu-navigation__contenair__button .button p {
  margin-left: 41px;
}
.menu-navigation .menu-navigation__contenair .menu-navigation__contenair__button .button .fas {
  color: #7e7e7e;
  margin-left: 35px;
  font-size: 20px;
}

.bloc-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f6f6f6;
}
.bloc-section .bloc-section__inter {
  width: 89%;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto {
  width: 100%;
  height: 250px;
  margin-bottom: 18px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(28, 26, 25, 0.1);
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto:nth-child(5) {
  margin-bottom: 64px;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  position: relative;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a .presentation_resto_nouveau {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 5;
  background-color: #99e2d0;
  width: 80px;
  height: 28px;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a .presentation_resto_nouveau p {
  color: #008766;
  font-size: 13px;
  font-weight: bold;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a img {
  z-index: 1;
  height: 173px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  top: 0px;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a .Presentation_resto {
  width: 100%;
  height: 77px;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  color: black;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a .Presentation_resto h4 {
  margin-top: 20px;
  margin-left: 14px;
  margin-bottom: 0px;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a .Presentation_resto p {
  margin-top: 11px;
  margin-left: 14px;
  margin-bottom: 0px;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a .Presentation_resto .icon-coeur {
  font-size: 20px;
  position: absolute;
  right: 24px;
  bottom: 33px;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a .Presentation_resto .icon-coeur .far {
  transition: background-color 2000ms;
}
.bloc-section .bloc-section__inter .bloc-section__inter__resto a .Presentation_resto .icon-coeur .far:hover {
  background-color: red;
}

/*-----------------------------Section-menu--------------------------------*/
.bloc-section-menu {
  padding-left: 3.73%;
  padding-right: 3.2%;
  width: 93.06%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #f6f6f6;
  position: relative;
  bottom: 37px;
  border-radius: 50px 50px 0px 0px;
}
.bloc-section-menu .bloc-section-menu__titre__h2 {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  margin-top: 39px;
}
.bloc-section-menu .bloc-section-menu__titre__h2 h2 {
  width: 69%;
  margin: 0px 0px 0px 0px;
  font-family: "shrikhand";
  font-size: 25px;
}
.bloc-section-menu .bloc-section-menu__titre__h2 .bloc-section-menu__titre__coeur {
  width: 22px;
  height: 21px;
  margin-left: 33px;
}
.bloc-section-menu .bloc-section-menu__titre__h2 .bloc-section-menu__titre__coeur .far {
  font-size: 21px;
}
.bloc-section-menu .bloc-section-menu__carte {
  width: 100%;
}
.bloc-section-menu .bloc-section-menu__carte h3 {
  margin: 50px 0px 15px 0px;
  font-size: 12px;
  font-weight: normal;
}
.bloc-section-menu .bloc-section-menu__carte .bloc-section-menu__carte__choix {
  width: 100%;
  padding: 16px 0px 13px 0px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(28, 26, 25, 0.1);
  border-radius: 10px;
  margin-bottom: 16px;
}
.bloc-section-menu .bloc-section-menu__carte .bloc-section-menu__carte__choix h4 {
  width: 218px;
  font-size: 13px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  margin-left: 12px;
}
.bloc-section-menu .bloc-section-menu__carte .bloc-section-menu__carte__choix .bloc-section-menu__carte__choix__prix {
  width: 90%;
  height: 12px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
}
.bloc-section-menu .bloc-section-menu__carte .bloc-section-menu__carte__choix .bloc-section-menu__carte__choix__prix p {
  margin: 0px;
}
.bloc-section-menu .bloc-section-menu__carte .bloc-section-menu__carte__choix .bloc-section-menu__carte__choix__prix .bloc-section-menu__carte__choix__prix__prix {
  font-weight: bold;
}
.bloc-section-menu .button-menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin-top: 46px;
  margin-bottom: 38px;
}
.bloc-section-menu .button-menu .button_explorer {
  height: 50px;
  width: 58%;
  border-radius: 25px;
}
.bloc-section-menu .button-menu .button_explorer button {
  box-shadow: 5px 5px 5px rgba(28, 26, 25, 0.2);
  font-size: 12px;
  font-weight: bold;
  border-radius: 25px;
  color: white;
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
  width: 100%;
  height: 100%;
  border: 0px;
  transform: scale(1);
  transition: transform 400ms;
}
.bloc-section-menu .button-menu .button_explorer button:hover {
  transform: scale(1.15);
  background: linear-gradient(to bottom right, #ff98e2, #a36fe1);
}

.bas-page {
  width: 100%;
  height: 197px;
  background-color: #353535;
  color: white;
  padding-top: 27px;
  padding-left: 25px;
}
.bas-page .bas-page__block .bas-page__block__titre {
  font-size: 15px;
  font-family: "shrikhand";
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 27px;
}
.bas-page .bas-page__block .bas-page__block__liste {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
.bas-page .bas-page__block .bas-page__block__liste li {
  margin-bottom: 15px;
  list-style-type: none;
}

/*------------------------footer----------------------------*/
.bas-page-menu {
  width: 100%;
  height: 197px;
  background-color: #353535;
  color: white;
}
.bas-page-menu .bas-page-menu__block {
  margin-left: 25px;
  /* position: relative;
  top: 27px; */
}
.bas-page-menu .bas-page-menu__block .bas-page-menu__block__titre {
  font-size: 15px;
  font-family: "shrikhand";
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 27px;
}
.bas-page-menu .bas-page-menu__block .bas-page-menu__block__liste {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}
.bas-page-menu .bas-page-menu__block .bas-page-menu__block__liste li {
  margin-bottom: 15px;
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
