@font-face {
    font-family:"shrikhand";
    src: url("../../fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family:"roboto";
    src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family:"roboto";
    src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}
body{
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    font-family: "roboto" ;
}
img{
    object-fit: cover;
}
