$width_100 : 100%;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$header-localisation-color: #eaeaea;
$tertiaire-color:#f6f6f6;
$shadow-resto:5px 5px 5px rgba(28,26,25,0.1);
$shadow-button:5px 5px 5px rgba(28,26,25,0.2);
$footer-background-color:#353535;
$menu-choix-background-color : #ffffff;
$button-degrade_background: linear-gradient(to bottom right,lighten($secondary-color,3%),lighten($primary-color,3%));